name: Release Minor

on:
  workflow_dispatch:
    branches: [ main ]

jobs:
  tag:
    runs-on: ubuntu-latest
    steps:
      - uses: zwaldowski/semver-release-action@v2
        with:
          bump: minor
          prefix: v
          github_token: ${{ secrets.GITHUB_TOKEN }}
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Set up JDK 11
        uses: actions/setup-java@v1
        with:
          java-version: 11
      - name: Semantic Version
        run: ./gradlew printVersion
      - name: Build and Deploy
        run: JFROG_USER='${{ secrets.JFROG_USER }}' JFROG_PASSWORD='${{ secrets.JFROG_PASSWORD }}' ./gradlew artifactoryPublish

